node_modules
.env
.eslintignore
.eslintrc.js
cypress/
tests/
frontend/cypres
frontend/test
frontend/dist
frontend/node_modules
frontend/.eslintignore
frontend/.eslintrc.cjs
.gitignore
frontend/.gitignore