node_modules
.env
.eslintignore
.eslintrc.js
cypress/
tests/
frontend/cypress
frontend/test
frontend/
frontend/node_modules
frontend/.eslintignore
frontend/.eslintrc.cjs
.gitignore
frontend/.gitignore